*,
*::before,
*::after {
    box-sizing: border-box;
}

/* added body styling to blog css */
body {
    transition: background-color 0.5s, color 0.5s;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    font: color black;
}

/* added header to put the light dark button  */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid red;


}

/* added light mode selector */
.light {
    background-color: white;
    color: rgb(9, 5, 5);

}

/* added dark mode selector  */
.dark {
    background-color: black;
    color: white;
}

/* added button  */
.header #mode-toggle {
    display: flex;
    flex: end;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    background: url(../../images/sun.png);
    background: 100%;
}

@media (max-width: 690px) {
    .btn {
        font-size: 1rem;
        margin: 16px 0px 0px 0px;
        padding: 10px 15px;
    }
}

@media (max-width: 500px) {
    .btn {
        font-size: 0.8rem;
    }
}