*,
*::before,
*::after {
    box-sizing: border-box;
}

/* added body styling to blog css */
body {
    transition: background-color 0.5s, color 0.5s;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    font: color black;
}

/* added header to put the light dark button  */



.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid red;

}

/* added button container  */
.button-container {
    display: flex;
    flex: end;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    gap: 20px
}

/* added posts class to have flex column and gap and padding  */
.posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

}

/* added post container to make value to make posts have border */
.post-container {
    border: 1px solid #010000;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
}

/* added post to have h2 elements and underline */
.posts h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 5px;
    text-decoration: underline;
}

/* added li to have a bullet point in front of post  */
.posts li {
    color: #555;
    font-size: 1rem;
    line-height: 1.5;

}

/* changed the color of string to black not brown */
.posts strong {
    color: #040101;
}

/*specific styling for light mode for blog posts */
.light .post-container {
    background-color: #fff;
    border: 1px solid #070202;
}

.light {
    color: black;
}

/* specific styling for dark mode for blog posts*/
.dark .post-container {
    background-color: #333;
    border: 1px solid #e4d6d6;
}

/* set value for dark mode post container li */
.dark .post-container li {
    color: white;
}

/* set dark mode post for strong  */
.dark .posts strong {
    color: white;
}

/* set dark mode post for post container and h2 */
.dark .post-container h2 {
    background-color: #333;
    color: white;

}

.dark #blog-form button:hover {
    background-color: #0056b3;
}

/* added back button image to button  */
#back {
    background: url(../../images/back_button.png);
    background-size: 100%;

}

/* specified mode toggle to have its own pic */
#mode-toggle {
    background: url(../../images/sun.png);
    background-size: 100%;
}

/* added light mode selector */
.light {
    background-color: white;
    color: rgb(9, 5, 5);

}

/* added dark mode selector  */
.dark {
    background-color: black;
    color: white;
}



@media (max-width: 690px) {
    .btn {
        font-size: 1rem;
        margin: 16px 0px 0px 0px;
        padding: 10px 15px;
    }
}

@media (max-width: 500px) {
    .btn {
        font-size: 0.8rem;
    }
}