*,
*::before,
*::after {
    box-sizing: border-box;
}

/* added body styling to blog css */
body {
    transition: background-color 0.5s, color 0.5s;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    font: color black;
}

/* added header to put the light dark button  */


.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    border: 1px solid red;

}

/* added button container  */
.button-container {
    display: flex;
    flex: end;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    position: relative;

}

/* added back button image to button  */
#back {
    background: url(../../images/back-button.png);
    background-size: 100%;
}

/* specified mode toggle to have its own pic */
#mode-toggle {
    background: url(../../images/sun.png);
    background-size: 100%;
}

/* added light mode selector */
.light {
    background-color: white;
    color: rgb(9, 5, 5);

}

/* added dark mode selector  */
.dark {
    background-color: black;
    color: white;
}



@media (max-width: 690px) {
    .btn {
        font-size: 1rem;
        margin: 16px 0px 0px 0px;
        padding: 10px 15px;
    }
}

@media (max-width: 500px) {
    .btn {
        font-size: 0.8rem;
    }
}