*,
*::before,
*::after {
    box-sizing: border-box;
}


/* set value for from id blog form  */
#blog-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    height: 80%;
    border: 1px solid #000;
    padding: 60px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
}

/* commented out display flex so i could line break  */
.blog-content {
    /* display: flex; */
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    /* padding: 10px; */
    margin-bottom: 20px;
}

/* added value to username form  */
.username input#username {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 10px;

}

/* commented out margin- right  */
.blog-title input#blog-title {
    width: 60%;
    height: 60px;
    padding: 10px;
    margin-bottom: 20px;
    /* margin-right: 20px; */
    margin-left: 10px;

}

/* commented out margin left  */

textarea {
    width: 70%;
    height: 80px;
    /* margin-left: 20px; */
}

/* made submit button smaller and thicker */
#submit {
    width: 20%;
    height: 50px;

}

/* specific styling for light mode for blog form */
.light #blog-form {
    background-color: #fff;
    border: 1px solid #ccc;
}

/* added blog from label light mode  */
.light #blog-form label {
    color: black;
}

/* added light mode to input and textarea */
.light #blog-form input,
.light #blog-form textarea {
    background-color: #fff;
    color: black;
    border: 1px solid #ccc;
}

/* added hover icon over button  */
.light #blog-form button {
    background-color: #007BFF;
    color: white;
}

.light #blog-form button:hover {
    background-color: #0056b3;
}

/* specific styling for dark mode for blog form */
.dark #blog-form {
    background-color: #333;
    border: 1px solid #555;
}

/* set value for blog form label dark mode  */
.dark #blog-form label {
    color: white;
}

/* set dark mode value for input and textarea  */
.dark #blog-form input,
.dark #blog-form textarea {
    background-color: #555;
    color: white;
    border: 1px solid #777;
}

/* set value for dark mode form submit button  */
.dark #blog-form button {
    background-color: #007BFF;
    color: white;
}

.dark #blog-form button:hover {
    background-color: #0056b3;
}

#errorMessage {
    display: none;
    color: red
}

/* Media queries updated to include form  */
@media (max-width: 690px) {
    #blog-form {
        padding: 30px;
    }

    .username input#username,
    .blog-title input#blog-title,
    textarea {
        width: 100%;
        margin-left: 0;
    }

    #submit {
        width: 50%;
    }

    .btn {
        font-size: 1rem;
        margin: 16px 0px 0px 0px;
        padding: 10px 15px;
    }
}

@media (max-width: 500px) {
    #blog-form {
        padding: 20px;
    }

    .btn {
        font-size: 0.8rem;
    }

    #submit {
        width: 80%;
    }
}