*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    transition: background-color 0.5s, color 0.5s;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    font: color black;
}

/* added light mode selector */
.light {
    background-color: white;
    color: rgb(14, 3, 3);

}

.light {
    background-color: white;
    color: rgb(14, 3, 3);
}

/* added dark mode selector  */
.dark {
    background-color: black;
    color: white;
}

/* added button  */
button {

    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

main {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.header {
    background-color: aquamarine;
    display: flex;
    flex: 1 1 50%;
    font: color black;


}

.left-container {
    display: flex;
    flex: 1 1 50%;
    justify-content: center;
    border: 1px solid red;
    height: 100%;

}

.right-container {
    display: flex;
    flex: 1 1 50%;
    justify-content: center;
    border: 1px solid red;

}

@media (max-width: 690px) {
    .btn {
        font-size: 1rem;
        margin: 16px 0px 0px 0px;
        padding: 10px 15px;
    }
}

@media (max-width: 500px) {
    .btn {
        font-size: 0.8rem;
    }
}